* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple50: hsl(260, 100%, 95%);
    --purple300: hsl(264, 82%, 80%);
    --purple500: hsl(263, 55%, 52%);
    --grey100: hsl(214, 17%, 92%);
    --grey200: hsl(0, 0%, 81%);
    --grey400: hsl(224, 10%, 45%);
    --grey500: hsl(217, 19%, 35%);
    --darkblue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
}

html {
    font-size: 13px;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
}

body {
    background-color: white;
}

.main-container {
    margin: 5rem 0;
}

/* card universal */

.card {
    padding: 2rem;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.19);
    margin: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.card h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

.card p {
    font-weight: 400;
    line-height: 1.4;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile p:first-child {
    font-weight: 600;
    font-size: 1rem;
}

.profile p:last-child {
    font-weight: 400;
    font-size: .875rem;
}

img {
    border-radius: 50%;
    width: 3rem;
}

/* card section */

.daniel {
    background-color: var(--purple500);
    color: var(--grey100);
}

.daniel img {
    border: 2px solid var(--purple300);
}


.jonathan {
    background-color: var(--grey500);
    color: var(--grey100);
}

.jonathan img {
    border: 2px solid var(--grey200);
}

.jeanette {
    color: var(--grey500);
    background-color: white;
}

.jeanette img {
    border: 2px solid var(--grey100);
}

.patrick {
    background-color: var(--darkblue);
    color: var(--grey100);
}

.patrick img {
    border: 2px solid var(--purple500);
}

.kira {
    color: var(--grey500);
    background-color: white;
}

.kira img {
    border: 2px solid var(--grey100);
}

/* attribution section */

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-bottom: 1rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* desktop */

@media only screen and (min-width: 992px) {
    .main-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 10% repeat(4, 1fr) 10%;
        grid-template-rows: 8rem 1fr 1fr 8rem;
        gap: 2rem;
    }

    .card {
        margin: 0;
    }

    .daniel {
        grid-column: 2 / span 2;
        grid-row: 2;
        background-image: url(/images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: right 10% top;
    }

    .jonathan {
        grid-row: 2;
        grid-column: 4;
    }

    .kira {
        grid-column: 5;
        grid-row: 2 / span 2;
    }

    .jeanette {
        grid-row: 3;
        grid-column: 2;
    }

    .patrick {
        grid-column: 3 / span 2;
        grid-row: 3;
    }
}